/*Font
*************************/
@font-face {
    font-family: 'playregular';
    src: url('fonts/play-regular-webfont.woff2') format('woff2'),
         url('fonts/play-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'exo';
    src: url('fonts/exo-regular-webfont.woff2') format('woff2'),
         url('fonts/exo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Font
*************************/

/*Scroll
*************************/
::-webkit-scrollbar {
  width:  5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}
::-webkit-scrollbar-thumb:active {
  background: #ff0000;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/*Scroll
*************************/

/*Bootstrap Reset
*************************/
*{list-style-type: none!important}
a{text-decoration: none!important}
nav{border-radius: 5px!important;margin-top: 20px}
.left,.right{background: none!important}
.slayder,header{background-image: url('../img/global/sliderBg.png')}
.carousel-caption{color: black;text-shadow: none}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a{background: none!important;box-shadow: none!important}
.tab-content>.tab-pane{padding: 11px 0}
@media screen and (min-width:769px){
    .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    [class^="col-"],.navbar,.navbar-default,.navbar-inverse,.container,.container-fluid {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
}
/*Bootstrap Reset
*************************/

/*Klaslar
*************************/
.mrgLR8{margin-left: 8px;margin-right: 8px}
.brdRds0{border-radius: 0px!important}
.colorWht{color: white!important}
.colorOrange{color: orange}
.orange{background: orange}
.red{background: red}
.mrgB25{margin-bottom: 25px}
.transparanBg{background: rgba(0, 0, 0, .6);filter: alpha(opacity=50);}
.kategoriMenu{display: none}
.bolumBaslik h4{
    background: #ffe800;
    display: inline-block;
    line-height: 35px;
    padding: 0 10px;
    font-weight: bold;
    font-size: medium;
    margin-top: 0
}
.bolumBaslik hr{
    background: #0f0f0d;
    height: 1px;
    margin: -7px auto
}
.modalBox {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1031;
    text-align: center;
    padding: 0px!important;
    margin: 0px!important;
    border: none!important;
    border-radius: 0px!important;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 0px!important;
}
.modalBox>div{
    margin-top: 6%;
    animation-name: modalIcerikAnimasyon;
    animation-duration: .5s;    
}
@keyframes modalIcerikAnimasyon { 
    from {margin-top: 1%;}
    to {margin-top: 6%;}
}
@media screen and (min-width:768px) {
    .yorumForm .ad{
        margin-right: 11px
    }
    .yorumForm .ad, .yorumForm .soyad{
        width: 49%;
        float: left
    }
}
.kategoriMenuItem{
    height: 98px;
    line-height: 98px;
    margin-bottom: 15px
}
.kategoriMenuItem div{
    border: 1px solid #f5f5f5;
}
.loginForm>div{
    background: #f5f5f5;
    padding: 25px 29px 37px 29px;
    border-radius: 6px;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, .5)
}

/*Klaslar
*************************/

/*Medya sorguları
*************************/
@media screen and (max-width:768px){
    .uyeol,.login{margin-left: 8px!important}
}
/*Medya sorguları
*************************/
body{
    overflow-y: scroll!important;
    font-family: playregular;
}
.slayder img{margin: auto!important}

/*Tarifler
*************************/
.tarif a{margin-bottom: 15px}
.tarif h5 {
    height: 44px;
    overflow: hidden;
    line-height: 20px;
}
@media screen and (min-width:415px) and (max-width:767px) {
    .tarif a{width: 50%}
}
@media screen and (min-width:1024px) {
    .tarif a{width: 20%}
}

