
/*Bootstrap*/
.media{margin-top: 15px}

/*Bootstrap*/

/*S覺n覺flar*/
.mrgR7{margin-right: 7px}
.colorBlack{color: black!important}
.red{background:  red}
.transparanBg{background: rgba(0, 0, 0, .6);filter: alpha(opacity=50);}
.gizli{display: none}
.bgGray{background: #e9ecef}

/*S覺n覺flar*/

/*Scroll
*************************/
::-webkit-scrollbar {
  width:  5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}
::-webkit-scrollbar-thumb:active {
  background: #ff0000;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/*Scroll
*************************/

body{
    overflow-y: scroll
}
header,#slayder{background: url('../img/global/sliderBg.png')}
header{
    padding: 15px 0;
}
.neredeyim{margin-top: 15px}
.bolumBaslik{margin-bottom: 15px}
.bolumBaslik h4{
    background: #ffc107;
    border-color: #ffc107;
    display: inline-block;
    line-height: 35px;
    padding: 0 10px;
    font-weight: bold;
    font-size: medium;
    margin-top: 0
}
.bolumBaslik hr{
    background: #0f0f0d;
    height: 1px;
    margin: 0 auto
}

.sonGonderiler a,.benzerGonderiler a{margin-bottom: 15px}
.sonGonderiler h1,.benzerGonderiler h1{
    height: 44px;
    overflow: hidden;
    line-height: 20px;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, .9);
    letter-spacing: -1px
}
.sonGonderiler figure span,.benzerGonderiler figure span{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: x-large;
} 
.makaleDetay div>h1{
        font-weight: 300;
    letter-spacing: -2px;
}
.makaleDetay article{
    font-size: medium;
    font-weight: 400
}

.modalBox {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0px!important;
    z-index: 1031;
    padding: 0px!important;
    margin: 0px!important;
    border: none!important;
    border-radius: 0px!important;
    overflow-x: hidden;
    overflow-y: auto;

}
.modalBox>div{
    margin-top: 6%;
    animation-name: modalIcerikAnimasyon;
    animation-duration: 1s;    
}
@keyframes modalIcerikAnimasyon { 
    from {margin-top: 1%;}
    to {margin-top: 6%;}
}
.yemekTarifleri a>div,.digerKategori a>div {
    height: 91px;
    margin-top: 10px;
    padding: 7px;
    overflow: hidden
}


