/*Font
*************************/
@font-face {
    font-family: 'playregular';
    src: url('fonts/play-regular-webfont.woff2') format('woff2'),
         url('fonts/play-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'exo';
    src: url('fonts/exo-regular-webfont.woff2') format('woff2'),
         url('fonts/exo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Font
*************************/

/*Scroll
*************************/
::-webkit-scrollbar {
  width:  5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}
::-webkit-scrollbar-thumb:active {
  background: #ff0000;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/*Scroll
*************************/

/*Bootstrap Reset
*************************/
*{list-style-type: none!important}
a{text-decoration: none!important}
nav{border-radius: 5px!important;margin-top: 20px}
.left,.right{background: none!important}
.slayder,header{background-image: url('../img/global/sliderBg.png')}
.carousel-caption{color: black;text-shadow: none}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a{background: none!important;box-shadow: none!important}
nav a:hover{color: #0ff5f7!important}
/*Bootstrap Reset
*************************/

/*Klaslar
*************************/
.mrgLR8{margin-left: 8px;margin-right: 8px}
.brdRds0{border-radius: 0px!important}
.colorOrange{color: orange}
.orange{background: orange}
.red{background: red}
.bolumBaslik h4{
    background: #ffe800;
    display: inline-block;
    line-height: 35px;
    padding: 0 10px;
    font-weight: bold;
    font-size: medium
}
.bolumBaslik hr{
    background: #0f0f0d;
    height: 1px;
    margin: -7px auto
}
/*Klaslar
*************************/

/*Medya sorguları
*************************/
@media screen and (max-width:768px){
    .uyeol{margin-left: 0px!important}
}
/*Medya sorguları
*************************/
body{
    overflow-y: scroll!important;
    font-family: playregular;
}
.slayder img{margin: auto!important}

/*Tarifler
*************************/
.tarif a{margin-bottom: 15px}
.tarif h5 {
    height: 44px;
    overflow: hidden;
    line-height: 20px;
}
@media screen and (min-width:415px) and (max-width:767px) {
    .tarif a{width: 50%}
}
@media screen and (min-width:1024px) {
    .tarif a{width: 20%}
}

/*Tarifler
*************************/

/*Tarif detay
*************************/
@media screen and (min-width:992px) {
    .tarifDetay>div{padding-left: 0}
}
@media screen and (min-width:768px) and (max-width:991px){
    .tarifDetay>div{padding-left: 0;padding-right: 0}
}

/*Tarif detay
*************************/