
.icon-home:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-home-outline:before { content: '\e802'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */